@{
    ViewData["Title"] = "Liste étapes";
    ViewData["Profil"] = "Admin";
}
@model EtapeViewModel
<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="card-box mb-30">
            <div class="pd-20">
                <h4 class="text-blue h4">Liste des étapes</h4>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-left:850px; margin-top:-70px">Nouveau</button>
            <div class="pb-20">
                <form action="@Url.Action("Affectation", "Home")" method="post" id="myForm">
                    <table class="data-table table stripe hover nowrap">
                        <thead>
                            <tr style="color:rgb(4, 4, 22)">
                                <th>Etapes</th>
                                <th>Kilometre</th>
                                <th>Heure de départ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var liste in @Model.etapes)
                            {
                                <tr>
                                    <td>@liste.intitule</td>
                                    <td>@liste.kilometre</td>
                                    <td>@liste.heureDepart.ToString("HH:mm:ss")</td>
                                    <td>
                                        <div class="dropdown">
                                            <form action="@Url.Action("FinEtape", "Home")" method="post"  id="myFormulaire">
                                                <button type="button" data-toggle="modal" data-target="#Medium-modal" class="btn btn-primary" onclick="affecterEtape('@liste.idEtape')">Affecter </button>
                                                <button type="button" class="btn btn-success" onclick="finEtape('@liste.idEtape')">Fin </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <input type="hidden" name="coureur" id="coureur" />
                    <input type="hidden" name="etape" id="etapeId" />
                    <input type="hidden" name="temps" id="temps" />
                </form>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.ErreurReset))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErreurReset
        </div>
    }
	@if (!string.IsNullOrEmpty(ViewBag.SuccesReset))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccesReset
        </div>
    }
</div>
<div class="modal" id="Medium-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-blue" id="myLargeModalLabel">Temps du coureur</h4>
            </div>
            <div class="modal-body">
                <p>
                    <b><label sty>Coueur: </label></b>
                    <select class="form-control" id="selectCoureur">
                    </select>
                </p>
                <b><label>Temps d'arrivée: </label></b>
                <input class="form-control" type="datetime-local" id="tempsLoc" step="1">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="submitBtn" onclick="submitForm()">OK</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/affectationTemps.js"></script>
